!!!
%html
  %head
    %title Bob Hartman
    = stylesheets
    = javascripts "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascripts "jquery.superbgimage.min", :application
    == <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    == <meta name="keywords" content="bob hartman,guitar,fingerstyle,classical,billings,montana" /> 
    == <meta name="description" content="Bob Hartman is a guitarist and songwriter from Billings, MT with a wide range of styles and experience." /> 
    
  %body
    %fieldset#bg
      = link_to "bg", "images/bg.jpg"
    #nav
      %ul.nav
        %li <a href="#">About</a>
        %li <a href="#">Watch</a>
        %li <a href="#">Listen</a>
      .contact
        %ul
          %li Bob Hartman
          %li 406.259.8051
          %li
            %a{ :href => "mailto:hartmanguitar@gmail.com" } hartmanguitar@gmail.com
            
    #content
      = yield

      #footer
        &copy; 2010 Bob Hartman | 406.259.8051 | <a href="mailto:hartmanguitar@gmail.com">hartmanguitar@gmail.com</a>
        %ul.nav
          %li <a href="#">About</a>
          %li <a href="#">Watch</a>
          %li <a href="#">Listen</a>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{
    var pageTracker = _gat._getTracker("UA-16827361-1");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
     
