!!!
%html
  %head
    %title Bob Hartman
    = stylesheets
    = javascripts "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascripts "jquery.superbgimage.min", :application
  %body
    %fieldset#bg
      = link_to "bg", "images/bg.jpg"
    #nav
      %ul.nav
        %li <a href="#">About</a>
        %li <a href="#">Watch</a>
        %li <a href="#">Listen</a>
      .contact
        %ul
          %li Bob Hartman
          %li 406.259.8051
          %li
            %a{ :href => "mailto:hartmanguitar@gmail.com" } hartmanguitar@gmail.com
            
    #content
      = yield

      #footer
        &copy; 2010 Bob Hartman | 406.259.8051 | <a href="mailto:hartmanguitar@gmail.com">hartmanguitar@gmail.com</a>
        %ul.nav
          %li <a href="#">About</a>
          %li <a href="#">Watch</a>
          %li <a href="#">Listen</a>
      
