!!!
%html
  %head
    %title Bob Hartman
    = stylesheets
    = javascripts "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascripts "jquery.superbgimage.min", :application
  %body
    %fieldset#bg
      = link_to "bg", "images/bg.jpg"
    #content
      = yield
